canvas {
      background: rgb(6, 133, 50);
      border: 3px solid rgb(255, 255, 255);
    }

body {
      background: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }